/**
 * style.css
 * Contain style of yooway proto
 */

/**
 * Import Font
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/**
 * General
 */

body {
    font-family: 'Roboto', sans-serif;
}

/**
 * Container
 */

.container {
    width: 768px;
    margin: auto;
}

/**
 * Til
 */

.til {
    width: 246px;
    height: 331px;
    -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 2px;

}

.til p {
    padding-top: 50%;
}

.row .til {
    display: inline-block;
    vertical-align: top;

}

.ontop{
    z-index:1;
}

/**
 * Bulle prix
 */
.price{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 180px;
    bottom: 265px;
    background-color: #fddfdf;
}

.price p{
    vertical-align: middle;
    padding-top: 4px;
}

/**
Til question
 */

.answer{
    position: absolute;
    bottom: 30px;

}

.answer img{
    display: block;
}
.like{
    left: 30px;
}

.dislike{
    right: 30px;
}

.dislike img{
    position: relative;
    left: 25px;
}

/**
Til Select
 */

.select {
    font-size : 2em;
    background-color: #fff;
    overflow: hidden;
}

.select ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.select a{
    text-decoration: none;

}

.select li{
    margin : 30px 0 30px 0;
}

