/**
 * style.css
 * Contain style of yooway proto
 */
/**
 * Import Font
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/**
 * General
 */

body {
    font-family: 'Roboto', sans-serif;
}

/**
 * Container
 */

.container {
    width: 768px;
    margin: auto;
}

.row{
    height: 341px;
}


/**
 * Til
 */

.til {
    position: relative;
    width: 246px;
    height: 331px;
    -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 2px;
    display: inline-block;
    vertical-align: top;
}

.til-empty{
    width: 246px;
    height: 331px;
    margin: 2px;
    display: inline-block;
    vertical-align: top;
}

.til p {
    padding-top: 50%;
}


/*
On select design
 */

.ontop {
    z-index: 1;

}

.calque {
    position: absolute;
    top: 0;
    left: 0;
    width: 246px;
    height: 331px;
    z-index: 2;

}

.left {
    background: #93ff7a;
    opacity: 0.5;
}

.right {
    background: red;
    opacity: 0.5;
}

/**
 * Bulle prix
 */
.price {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 180px;
    bottom: 265px;
    background-color: #fddfdf;
}

.price p {
    vertical-align: middle;
    padding-top: 4px;
}

/**
Til question
 */

.answer {
    position: absolute;
    bottom: 30px;

}

.answer img {
    display: block;
}

.like {
    left: 30px;
}

.dislike {
    right: 30px;
}

.dislike img {
    position: relative;
    left: 25px;
}

/**
Til Select
 */

.select {
    font-size: 1.5em;
    background-color: #fff;
    overflow: hidden;
}

.select ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.select div {
    cursor: pointer;

}

.select li {
    margin: 30px 0 30px 0;
}

/*
Iphone 6S
 */
@media screen and (max-width: 414px) {

    .container{
        width: 414px;
    }

    .row {
        height: 242px;
    }
    div {
        font-size: 0.9em;
    }

    .til {
        width: 125px;
        height: 235px;
    }

    .til-empty{
        width: 125px;
        height: 235px;
        margin: 2px;
        display: inline-block;
        vertical-align: top;
    }


    .til img {
        height: 100px;
        margin-top: 50%;
    }

    .answer img{
        height: 20px;
    }

    .like{
        left: 0;
    }
/*
    .dislike{
        right: 0;
    }
*/
   /*
   .dislike img{

        right: 0;
    }
    */

    .price{
        left: 77px;
        bottom: 160px;
        width: 48px;
        height: 48px;
    }

    .calque{
        width: 125px;
        height: 235px;
    }
}